---
layout: default
---
  <div class="post">

    {% if page.cv_pdf %}
      <object data="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}#pagemode=none" width="750" height="1000" type='application/pdf'></object>
    {% endif %}

  </div>